
/*---Navbar---*/

nav{
    background-color: #000000;
}

#logo{
    width:160px;
    height:auto;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 3%;
}

#navlist{
    display: inline-block;
    font-weight: bold;

	
	background-size: cover;
	list-style-type:none;
}

#navlist li{
    display: inline-block;
    margin: 50px;
}

#navlist a{
    background-color:#aaaaaa;
    
	padding: 10px;
	color:#ffff;
	
}


h2{
    padding-top:45px;
}

/*---Article Rules---*/

.pic{
    width: 260px;
    height: auto;

    float:left;
    margin-right:12px;
    vertical-align: middle;
}

article{
    float:left;
}


/*---About Me Page---*/

#pic_of_me{
    width: 360px; /* you can use % */
    height: auto;
    vertical-align: middle;
    float:left;

    margin-right:25px;
}

#about{
    display: inline;
    padding: 35px;
}

form[class="form1"] {
    padding: 25px;
    margin: 5px;
}

.contactus {

    font-size: large;
    padding:10px;

}

p{
    padding: 3px;
    border: 10px;
    border-top: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    padding: 5%;
}

table{
    padding:10px;
    margin:15px;
}

h1{
    font-size: x-large;
    font-weight: bold;
}

h2{
    font-size: large;
    font-weight: bold;
}

h3{
    font-size: medium;
    font-weight: bold;
}

#tagline{
    font-style: italic;
}